doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./index.css")
        link(rel="stylesheet", href="./icomoon/style.css")
        script(src="https://cdn.wdd.idv.tw/js/jquery-3.6.3.min.js") 
        script(defer src="./index.js") 
        
    body 
        .top_bar 
            .top-mark
                h1 SHENQ
            .top-other 
                .product
                    p 產品專區
                .information
                    p 最新消息
                .buy
                    p 哪裡購買
                .about 
                    p 關於我們
            .top-other2
                .search 
                    .search-icon 
                        .icon-search
                    p Search
                .language 
                    .language-icon 
                        .icon-sphere
                    p Language 
                .other
                    .line.line1 
                    .line.line2 
                    .line.line3
        main.main
            .index-pic   
            .aboutus  
                .ribbon
                    .info-box.news
                        .new-pic
                            img(src="https://xwadex.com/_wov_/hiQ/assets/img/index/shortcut_60x60_01.svg", alt="")
                        .new
                            p.title 最新活動
                            p.inner 相關最新消息
                    .info-box.address 
                        .address-pic 
                            img(src="https://xwadex.com/_wov_/hiQ/assets/img/index/shortcut_60x60_02.svg", alt="")
                        .addr
                            p.title 門市地址
                            p.inner 查詢門市位置
                    .info-box.QandAs
                        .QandA-pic 
                            img(src="https://xwadex.com/_wov_/hiQ/assets/img/index/shortcut_60x60_03.svg", alt="")
                        .QA
                            p.title 常見問題
                            p.inner 相關問題說明
                    .info-box.connections 
                        .connection-pic 
                            img(src="https://xwadex.com/_wov_/hiQ/assets/img/index/shortcut_60x60_04.svg", alt="")
                        .connection
                            p.title 聯絡我們
                            p.inner 告訴我們您的需求
            .Classification
                p.word-top What's Your Need 
                p.word 選擇想了解的貓咪
                .commoditys 
                    .box-wrap
                        .draw.num1
                            .dra.n1
                            .pic
                                img(src="./icon/Umadra3.jpg", alt="")
                        p Uma
                    .box-wrap
                        .draw.num2
                            .dra.n2
                            .pic  
                                img(src="./icon/Umadra1.jpg", alt="")
                        p 小隻
                    .box-wrap
                        .draw.num3 
                            .dra.n3
                            .pic   
                                img(src="./icon/Umadra2.jpg", alt="")    
                        p 星碳

            .readme 
                .tbox.read.box1
                    .readleft
                        .title.w1 
                            p Cat snoring ㊣㊣㊣
                        .inner.w2
                            p 低分貝的呼嚕，源自睡覺時自然發出的聲音
                            br
                            br
                        .innerread.w5
                            p READ MORE
                    //- .re.pic1
                    //-     img(src="https://xwadex.com/_wov_/hiQ/assets/img/index/pr_series_265x265_01.png", alt="")
                .bbox.read.box2
                    .readright
                        .title.w3 
                            p Sound ㊣㊣㊣
                        .inner.w4
                            p 高穩定喵喵叫聲試聽，對人體有維持健康且少負擔的功效
                            br
                        .innerread.w6
                            p READ MORE 
                    //- .re.pic2
                    //-     img(src="https://xwadex.com/_wov_/hiQ/assets/img/index/pr_series_265x265_02.png", alt="")
            .products
                .bgcpic
                    p PRODUCT
                .wor
                    .title
                        p Approaching Uma is a challenge
                    .in
                        p 在這裡查看我們的Uma相關貼圖！
                .product 
                    .pd.n1 
                        .pic.im1
                            img(src="./icon/products/Uma01.png", alt="")
                        .name.word1 
                            p 好了嗎??
                        .top.box1 
                            .boxname.wd1                                 
                                p 質問貼圖
                    .pd.n2
                        .pic.im2
                            img(src="./icon/products/Uma02.png", alt="")
                        .name.word2
                            p 有人嗎??
                        .top.box2
                            .boxname.wd2
                                p 詢問貼圖
                    .pd.n3 
                        .pic.im3
                            img(src="./icon/products/Uma03.png", alt="")
                        .name.word3
                            p 我先幫你看
                        .top.box3
                            .boxname.wd3
                                p 尋找貼圖
            .others 
                .bbox-left
                    .other-left
                        .titlename 
                            p 貓貓臥式Plus+
                            p 膠囊型
                            br
                        .innerpro 
                            p 搭配趴著不想看到你，又想睡覺，就變成這樣                   
                        .redmore 
                            br
                            br
                            p ReadMore
                    .other.right
                        .comimg1
                            img(src="./icon/other/Umaother-1.png", alt="")
                .bbox-right 
                    .compnyname 
                        .conname 
                            p Uma Place
                            br
                        .conaddr
                            p 正要去探索出沒的地點
                            br 
                        .coninner
                            p 查詢最近的出沒地
                            br
                            br 
                        .searchs 
                            .search-bg
                                .search-icon
                                    .poin
                                        .icon-compass2
                                    
                                .search-word
                                    p 最近探點
                            .searcharea 
                                .search-input
                                    p 選擇區域▼
                                .search-ico
                                    .icon-search
                    .compnyimg 
                        .comimg2
                            img(src="./icon/other/Umaother-2.png", alt="")


            .aboutbgimg
                .about-tbox 
                    .about-wbox
                        .a.word1 
                            p 關於貓貓
                            br
                        .a.word2 
                            p Uma is so 
                        .a.word3
                            p CUTE !!!
                            br
                        
                        .a.word4 
                            p 伸展長度100公分的貓咪
                            br
                    .about-bbox 
                        .b.box1 
                            p 貓咪故事
                        .b.box2 
                            p 人類責任
                        .b.box3 
                            p 貓咪紀錄

            .News-box
                .News 
                    .new-top 
                        .new.title 
                            p News & Events
                        .new.inner 
                            p 各種貼圖和會員獨吸活動
                    .Read 
                        .readbg 
                            .read-word 
                                p READ MORE >

                .Events 
                    .eve.event1 
                        .evebgc
                            .evei.eveimg1 
                                img(src="./icon/event/img1.png", alt="")
                        .eveword
                            .evew.evetitle
                                p 優惠活動
                                br
                            .evew.eveinner
                                p 海盜貓咪貼圖，LINE上限定貼圖!! 
                            .evew.eveday     
                                p 2023/06/11
                    .eve.event2
                        .evebgc
                            .evei.eveimg2
                                img(src="./icon/event/img2.png", alt="")
                        .eveword        
                            .evew.evetitle
                                p 優惠活動
                                br
                            .evew.eveinner
                                p 海盜貓咪貼圖，LINE上限定貼圖!!
                            .evew.eveday
                                p 2023/06/11                 
                    .eve.event3
                        .evebgc
                            .evei.eveimg3 
                                img(src="./icon/event/img3.png", alt="")
                        .eveword
                            .evew.evetitle
                                p 優惠活動
                                br
                            .evew.eveinner
                                p 海盜貓咪貼圖，LINE上限定貼圖!!
                            .evew.eveday  
                                p 2023/06/11

            .sating-line 
                .sating-box 
                    .sating-left 
                        .l.img 
                            img(src="./icon/sating-line/bell.png", alt="")
                        .l.word 
                            p ShenQ & Uma  顧客服務聯絡系統

                    .sating-right 
                        .r.img1 
                            .icon-question
                        .wd.word1 
                            p 常見問答
                        .r.img2
                            .icon-envelop
                        .wd.word2 
                            p 聯絡我們
                        .r.img3
                            .icon-location2
                        .wd.word3 
                            p 哪裡購買

            .bottom-box 
                .bigbox
                    .t-box 
                        .word1
                            p 諮詢專線 
                        .number 
                            p 0800-000-000
                    .m-box 
                        .w.pd 
                            p 產品專區
                        .w.news 
                            p 最新消息
                        .w.buy 
                            p 哪裡購買
                        .w.us 
                            p 關於我們
                    .b-box 
                        .k.comp 
                            p ShenQ 集團官方網站
                        .k.online 
                            p 線上貼圖商城
                        .k.joinus 
                            p 加入我們
                        .k.rule 
                            p 隱私權政策
                .b.icon 
                    .ic.fb 
                        .icon-facebook2
                    .ic.ig 
                        .icon-instagram
                    .ic.tw 
                        .icon-twitter
                    .ic.yt 
                        .icon-youtube
                    .goback 
                        .tword
                            p TOP
                        .tbgc
                            .icon-circle-up
                .bottom-box
                .end
                    p © 2023 ShenQ & Uma cat.All Rights Reserved. Designed by ShenQ.
