@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.evensetting {
  width: 90%;
  height: 90%;
  margin: auto;
  border-radius: 20px;
  background-color: #d1bca8;
}

.fix {
  font-size: 90px;
  text-align: center;
  line-height: 300px;
}

.disopen {
  display: block;
}

.top_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #DDDFDF;
  z-index: 1;
}
.top_bar .top-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 20px;
  cursor: pointer;
}
.top_bar .top-other {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .top_bar .top-other {
    width: 70%;
  }
}
.top_bar .top-other .product, .top_bar .top-other .information, .top_bar .top-other .buy, .top_bar .top-other .about {
  margin: 0 auto;
  font-size: 28px;
  cursor: pointer;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .top_bar .top-other .product, .top_bar .top-other .information, .top_bar .top-other .buy, .top_bar .top-other .about {
    font-size: 20px;
  }
}
.top_bar .top-other .product:hover, .top_bar .top-other .information:hover, .top_bar .top-other .buy:hover, .top_bar .top-other .about:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: orange;
}
@media screen and (max-width: 768px) {
  .top_bar .top-other .product, .top_bar .top-other .information, .top_bar .top-other .buy, .top_bar .top-other .about {
    font-size: 16px;
  }
}

.index-pic {
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  background-image: url("./icon/Umabg2.jpg");
}

.aboutus {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 970px;
  background-color: #BBADA0;
}
.aboutus .ribbon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.aboutus .ribbon .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  color: #fff;
}
.aboutus .ribbon .title {
  margin-top: 8px;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .aboutus .ribbon .title {
    font-size: 18px;
  }
}
.aboutus .ribbon .inner {
  font-size: 12px;
}

.evenBox {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #BBADA0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.evenBox.openanimation {
  height: 500px;
}

.addrss .map {
  width: 50px;
  height: 50px;
  margin-left: 10%;
}
.addrss p {
  margin-left: 35%;
  line-height: 50px;
}

.us {
  position: relative;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.us .usBox {
  margin: 0 auto;
  padding-top: 60px;
  width: 60%;
}
.us input {
  width: 100%;
  font-size: 40px;
  height: 40px;
}
.us .output {
  margin: 0 0 0 70%;
  display: inline-block;
}
.us .output button {
  font-size: 30px;
  height: 70px;
  width: 70px;
}

.Classification {
  position: relative;
  height: 600px;
  width: 100%;
  text-align: center;
  padding: 100px 0;
  background-color: #fff;
}
.Classification .word-top {
  font-size: 60px;
}
.Classification .word {
  font-size: 25px;
  margin-top: 10px;
}
.Classification .commoditys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.Classification .commoditys .aboutCat {
  position: absolute;
  width: 40%;
  height: 80%;
  z-index: 99;
  display: none;
}
.Classification .commoditys .aboutCat .bgMask {
  position: absolute;
  width: 250%;
  height: 250%;
  top: -75%;
  left: -75%;
}
.Classification .commoditys .aboutCat .aboutMask {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  border-radius: 30px;
}
.Classification .commoditys .aboutCat .uma {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
.Classification .commoditys .aboutCat .uma img {
  position: relative;
  width: 50%;
  border-radius: 30px;
}
.Classification .commoditys .aboutCat .uma .rightAbout {
  position: relative;
  width: 50%;
  height: 100%;
}
.Classification .commoditys .aboutCat .uma .rightAbout .close1 {
  position: absolute;
  width: 30px;
  height: 45px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.Classification .commoditys .aboutCat .uma .rightAbout .close1 p {
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.Classification .commoditys .aboutCat .uma .rightAbout .cat1 {
  position: relative;
  margin-top: 30%;
}
.Classification .commoditys .aboutCat .uma .rightAbout .cat1 h1, .Classification .commoditys .aboutCat .uma .rightAbout .cat1 h2 {
  color: white;
  text-align: left;
  line-height: 60px;
  padding-left: 20px;
}
.Classification .commoditys .aboutCat .small {
  width: 100%;
  height: 100%;
  display: none;
}
.Classification .commoditys .aboutCat .small img {
  position: relative;
  width: 50%;
  border-radius: 30px;
}
.Classification .commoditys .aboutCat .small .rightAbout {
  position: relative;
  width: 50%;
  height: 100%;
}
.Classification .commoditys .aboutCat .small .rightAbout .close2 {
  position: absolute;
  width: 30px;
  height: 45px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.Classification .commoditys .aboutCat .small .rightAbout .close2 p {
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.Classification .commoditys .aboutCat .small .rightAbout .cat2 {
  position: relative;
  margin-top: 30%;
}
.Classification .commoditys .aboutCat .small .rightAbout .cat2 h1, .Classification .commoditys .aboutCat .small .rightAbout .cat2 h2 {
  color: white;
  text-align: left;
  line-height: 60px;
}
.Classification .commoditys .aboutCat .start {
  width: 100%;
  height: 100%;
  display: none;
}
.Classification .commoditys .aboutCat .start img {
  position: relative;
  width: 50%;
  border-radius: 30px;
}
.Classification .commoditys .aboutCat .start .rightAbout {
  position: relative;
  width: 50%;
  height: 100%;
}
.Classification .commoditys .aboutCat .start .rightAbout .close3 {
  position: absolute;
  width: 30px;
  height: 45px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.Classification .commoditys .aboutCat .start .rightAbout .close3 p {
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.Classification .commoditys .aboutCat .start .rightAbout .cat3 {
  position: relative;
  margin-top: 30%;
}
.Classification .commoditys .aboutCat .start .rightAbout .cat3 h1, .Classification .commoditys .aboutCat .start .rightAbout .cat3 h2 {
  color: white;
  text-align: left;
  line-height: 60px;
}
.Classification .box-wrap1 p, .Classification .box-wrap2 p, .Classification .box-wrap3 p {
  margin-top: 30px;
  font-weight: 900;
  font-size: 30px;
}
.Classification .box-wrap1 .draw, .Classification .box-wrap2 .draw, .Classification .box-wrap3 .draw {
  position: relative;
  width: 180px;
  height: 180px;
  padding: 10px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px;
          box-shadow: 0 0 20px;
  cursor: pointer;
}
.Classification .box-wrap1 .draw:hover .dra, .Classification .box-wrap2 .draw:hover .dra, .Classification .box-wrap3 .draw:hover .dra {
  height: 100%;
}
@media screen and (max-width: 576px) {
  .Classification .box-wrap1 .draw, .Classification .box-wrap2 .draw, .Classification .box-wrap3 .draw {
    width: 120px;
    height: 120px;
  }
}
.Classification .box-wrap1 .draw .pic, .Classification .box-wrap2 .draw .pic, .Classification .box-wrap3 .draw .pic {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}
.Classification .box-wrap1 .draw .pic img, .Classification .box-wrap2 .draw .pic img, .Classification .box-wrap3 .draw .pic img {
  width: 100%;
  height: 100%;
}
.Classification .box-wrap1 .draw .dra, .Classification .box-wrap2 .draw .dra, .Classification .box-wrap3 .draw .dra {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0px;
  background-color: orange;
  display: block;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.readme {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .readme {
    display: block;
  }
}
.readme .tbox {
  position: relative;
  background-color: #E2FCEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.readme .tbox:hover .innerread::after {
  width: 100%;
  right: auto;
  left: 0;
}
.readme .tbox .redleft {
  position: absolute;
}
.readme .bbox {
  background-color: #BFBFBF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.readme .bbox:hover .innerread::after {
  width: 100%;
  right: auto;
  left: 0;
}
.readme .box1 {
  position: relative;
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .readme .box1 {
    width: 100%;
    height: 50%;
  }
}
.readme .box2 {
  position: relative;
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .readme .box2 {
    width: 100%;
    height: 50%;
  }
}
.readme .title {
  position: relative;
  width: 250px;
  height: 50px;
  font-size: 26px;
  font-weight: 700;
}
.readme .inner {
  width: 300px;
  font-size: 14px;
}
.readme .innerread {
  width: 100px;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
}
.readme .innerread::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background-color: #f24;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.products {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: #E0E0E0;
  text-align: center;
}
.products .bgcpic {
  position: absolute;
  font-size: clamp(50px, 20vw, 700px);
  width: 100%;
  height: 100%;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EBEBEB;
  opacity: 0.4;
}
.products .product {
  position: relative;
  z-index: 0.9;
}
@media screen and (max-width: 768px) {
  .products .product {
    margin-top: 100px;
  }
}
.products .wor {
  position: relative;
  padding-top: 3%;
  text-align: center;
}
.products .wor .title {
  font-size: 46px;
  font-weight: 700;
}
.products .wor .in {
  font-size: 26px;
  opacity: 0.6;
}
.products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.products .product .pd {
  position: relative;
  margin-top: 3%;
  cursor: pointer;
}
.products .product .pd img {
  width: 80%;
}
.products .product .name {
  font-size: 36px;
  margin-top: 8%;
}
@media screen and (max-width: 1200px) {
  .products .product .name {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .products .product .name {
    font-size: 26px;
  }
}
.products .product .top {
  position: absolute;
  font-size: 20px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  top: -30px;
  right: -50px;
}
@media screen and (max-width: 1200px) {
  .products .product .top {
    height: 80px;
    width: 80px;
    right: 0;
  }
}
.products .product .top .boxname {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #402A2C;
}
.products .product .box1 {
  background-color: #D7DAE5;
}
.products .product .box2 {
  background-color: #A6D8D4;
}
.products .product .box3 {
  background-color: #C09BD8;
}

.others {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #E0E0E0;
}
@media screen and (max-width: 768px) {
  .others {
    display: block;
  }
}
.others .bbox-left {
  width: 50%;
  height: 400px;
  background-color: #669BBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.others .bbox-left:hover .redmore::after {
  width: 100%;
  right: auto;
  left: 0;
}
@media screen and (max-width: 768px) {
  .others .bbox-left {
    width: 100%;
  }
}
.others .bbox-left .other-left {
  width: 70%;
}
.others .bbox-left .titlename {
  margin-left: 50px;
  font-size: 36px;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .others .bbox-left .titlename {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .others .bbox-left .titlename {
    margin-left: 10px;
  }
}
.others .bbox-left .innerpro {
  margin-left: 50px;
  font-size: 22px;
}
@media screen and (max-width: 1024px) {
  .others .bbox-left .innerpro {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .others .bbox-left .innerpro {
    margin-left: 10px;
  }
}
.others .bbox-left .redmore {
  font-size: 12px;
  font-weight: 900;
  margin-left: 50px;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
.others .bbox-left .redmore::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background-color: #f24;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
@media screen and (max-width: 768px) {
  .others .bbox-left .redmore {
    margin-left: 10px;
  }
}
.others .bbox-left .other.right {
  width: 30%;
  height: 100%;
}
.others .bbox-left .other.right .comimg1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.others .bbox-left .other.right .comimg1 img {
  width: 100%;
  margin: auto;
}
.others .bbox-right {
  width: 50%;
  height: 400px;
  background-color: #615D6C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .others .bbox-right {
    width: 100%;
  }
}
.others .bbox-right .compnyname {
  width: 70%;
}
.others .bbox-right .compnyname .conname {
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  .others .bbox-right .compnyname .conname {
    margin-left: 10px;
  }
}
.others .bbox-right .compnyname .conaddr {
  margin-left: 50px;
  font-size: 36px;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .others .bbox-right .compnyname .conaddr {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .others .bbox-right .compnyname .conaddr {
    margin-left: 10px;
  }
}
.others .bbox-right .compnyname .coninner {
  margin-left: 50px;
  font-size: 22px;
}
@media screen and (max-width: 1024px) {
  .others .bbox-right .compnyname .coninner {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .others .bbox-right .compnyname .coninner {
    margin-left: 10px;
  }
}
.others .bbox-right .compnyname .searchs {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.others .bbox-right .compnyname .searchs .search-bg {
  width: 130px;
  height: 40px;
  background-color: #96939B;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  margin-left: 50px;
}
.others .bbox-right .compnyname .searchs .search-bg .poin {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  font-size: 25px;
}
.others .bbox-right .compnyname .searchs .search-bg .search-word {
  display: inline;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}
.others .bbox-right .compnyname .searchs .searcharea {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: #6F8AB7;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 20px;
}
@media screen and (max-width: 1024px) {
  .others .bbox-right .compnyname .searchs .searcharea {
    display: none;
  }
}
.others .bbox-right .compnyname .searchs .searcharea .search-input {
  width: 150px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  border-right: solid 1px white;
  cursor: pointer;
}
.others .bbox-right .compnyname .searchs .searcharea .drop-down {
  display: none;
  width: 100%;
  max-height: 250px;
  position: absolute;
  color: #333;
  margin-top: 10px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 2px 3px 0px #ccc;
          box-shadow: 0px 2px 3px 0px #ccc;
  border-radius: 6px;
  overflow: auto;
  z-index: 1;
}
.others .bbox-right .compnyname .searchs .searcharea .drop-down.open {
  display: block;
}
.others .bbox-right .compnyname .searchs .searcharea li {
  color: #000;
  padding: 12px;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}
.others .bbox-right .compnyname .searchs .searcharea li:hover {
  background-color: orange;
  border-radius: 6px;
}
.others .bbox-right .compnyname .searchs .searcharea li::-webkit-scrollbar {
  width: 15px;
}
.others .bbox-right .compnyname .searchs .searcharea li::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 6px;
}
.others .bbox-right .compnyname .searchs .searcharea li::-webkit-scrollbar-thumb {
  background-color: #6F8AB7;
  border-radius: 15px;
}
.others .bbox-right .compnyname .searchs .searcharea li::-webkit-scrollbar-button {
  background-color: #f9f9f9;
}
.others .bbox-right .compnyname .searchs .searcharea .search-ico {
  position: relative;
  height: 17px;
  width: 20px;
  cursor: pointer;
  opacity: 0.5;
}
.others .bbox-right .compnyimg {
  width: 30%;
  height: 100%;
}
.others .bbox-right .compnyimg .comimg2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.others .bbox-right .compnyimg .comimg2 img {
  width: 100%;
  margin: auto;
}

.aboutbgimg {
  position: relative;
  padding: 200px 0;
  background-image: url("./icon/about/bgimg.jpg");
}
@media screen and (max-width: 768px) {
  .aboutbgimg {
    padding: 150px 0;
  }
}
.aboutbgimg .about-tbox {
  position: relative;
  width: 60%;
  height: 57%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border: solid 1px white;
  cursor: pointer;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
@media screen and (max-width: 768px) {
  .aboutbgimg .about-tbox {
    width: 90%;
  }
}
.aboutbgimg .about-tbox .about-wbox .a {
  text-align: center;
}
.aboutbgimg .about-tbox .about-wbox .word1 {
  padding-top: 50px;
  font-size: 16px;
  font-weight: 700;
}
.aboutbgimg .about-tbox .about-wbox .word2 {
  font-size: 42px;
}
.aboutbgimg .about-tbox .about-wbox .word3 {
  font-size: 42px;
  font-weight: 700;
}
.aboutbgimg .about-tbox .about-wbox .word4 {
  font-size: 22px;
  font-weight: 500;
}
.aboutbgimg .about-tbox .about-bbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
  border-top: solid 1px white;
}
.aboutbgimg .about-tbox .about-bbox .b {
  font-size: 30px;
  padding: 40px;
  width: 33.3%;
  font-weight: 700;
}
.aboutbgimg .about-tbox .about-bbox .box2, .aboutbgimg .about-tbox .about-bbox .box3 {
  border-left: solid 1px white;
}

.News-box {
  position: relative;
  background-color: #F4F0FA;
}
.News-box .News {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 90px 100px 90px;
}
@media screen and (max-width: 768px) {
  .News-box .News {
    padding: 100px 40px 100px 40px;
  }
}
.News-box .News .title {
  font-size: 60px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .News-box .News .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 576px) {
  .News-box .News .title {
    font-size: 30px;
  }
}
.News-box .News .inner {
  font-size: 28px;
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .News-box .News .inner {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  .News-box .News .inner {
    font-size: 18px;
  }
}
.News-box .News .Read {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.News-box .News .Read:hover {
  background-color: #E0CEFD;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 5px #E0CEFD, 0 0 6px #E0CEFD, 0 0 7px #E0CEFD, 0 0 25px #E0CEFD, 0 0 50px #E0CEFD, 0 0 100px #E0CEFD;
          box-shadow: 0 0 5px #E0CEFD, 0 0 6px #E0CEFD, 0 0 7px #E0CEFD, 0 0 25px #E0CEFD, 0 0 50px #E0CEFD, 0 0 100px #E0CEFD;
}
.News-box .News .readbg {
  background-color: #E0CEFD;
  width: 200px;
  text-align: center;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
}
.News-box .News .readbg .read-word {
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .News-box .News .readbg .read-word {
    font-size: 16px;
  }
}
.News-box .Events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.News-box .Events .eve {
  position: relative;
  width: 32%;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.News-box .Events .eve .evebgc {
  background-color: #AD8A64;
  width: 100%;
}
.News-box .Events .eve .evebgc .evei {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.News-box .Events .eve .evebgc .evei img {
  width: 100%;
  margin: auto;
}
.News-box .Events .eve .eveword {
  padding: 15px 0 0 20px;
}
@media screen and (max-width: 1024px) {
  .News-box .Events .eve .eveword br {
    display: none;
  }
}
.News-box .Events .eve .evetitle {
  font-size: 18px;
  font-weight: 700;
}
.News-box .Events .eve .eveinner {
  font-size: 24px;
}
@media screen and (max-width: 1024px) {
  .News-box .Events .eve .eveinner {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .News-box .Events .eve .eveinner {
    font-size: 14px;
  }
}
.News-box .Events .eve .eveday {
  position: relative;
  text-align: right;
  right: 20px;
}

.sating-line {
  position: relative;
  width: 100%;
  border-bottom: solid 5px #D4B483;
  padding-top: 50px;
  background-color: #F4F0FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sating-line .sating-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sating-line .sating-box .sating-left {
  background-color: #D4B483;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 40px 20px 40px;
  border-radius: 15px 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sating-line .sating-box .img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.sating-line .sating-box .img img {
  width: 100%;
  height: 100%;
}
.sating-line .sating-box .word {
  font-size: 26px;
  font-weight: 700;
  color: white;
}
@media screen and (max-width: 768px) {
  .sating-line .sating-box .word {
    font-size: 16px;
  }
}
.sating-line .sating-box .sating-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.sating-line .sating-box .sating-right .r {
  font-size: 30px;
  width: 50px;
  height: 30px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .sating-line .sating-box .sating-right .r {
    font-size: 16px;
  }
}
.sating-line .sating-box .sating-right .wd {
  font-size: 20px;
  font-weight: 700;
  padding-right: 20px;
}
.sating-line .sating-box .sating-right .word1, .sating-line .sating-box .sating-right .word2 {
  border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.bottom-box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F4F0FA;
}
.bottom-box .bigbox {
  width: 100%;
  height: 100%;
}
.bottom-box .bigbox .t-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .bottom-box .bigbox .t-box {
    padding: 0;
  }
}
.bottom-box .bigbox .t-box .word1 {
  margin: 100px 0 0 100px;
  font-size: 20px;
  font-weight: 700;
  padding-right: 20px;
}
@media screen and (max-width: 576px) {
  .bottom-box .bigbox .t-box .word1 {
    font-size: 16px;
    margin: 50px 0 0 20px;
  }
}
.bottom-box .bigbox .t-box .number {
  margin: 100px 0 0 20px;
  font-size: 50px;
  font-weight: 700;
  color: #48A9A6;
}
@media screen and (max-width: 576px) {
  .bottom-box .bigbox .t-box .number {
    font-size: 30px;
    margin: 50px 0 0 20px;
  }
}
.bottom-box .bigbox .m-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0 100px;
}
@media screen and (max-width: 576px) {
  .bottom-box .bigbox .m-box {
    margin: 20px 0 0 10px;
  }
}
.bottom-box .bigbox .m-box .w {
  margin: 10px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .bottom-box .bigbox .m-box .w {
    font-size: 18px;
  }
}
.bottom-box .bigbox .b-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 100px;
}
@media screen and (max-width: 576px) {
  .bottom-box .bigbox .b-box {
    margin: 20px 0 0 10px;
  }
}
.bottom-box .bigbox .b-box .k {
  margin: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.bottom-box .icon {
  position: relative;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 100px;
  font-size: 30px;
}
@media screen and (max-width: 576px) {
  .bottom-box .icon {
    margin: 20px 0 0 10px;
  }
}
.bottom-box .icon .ic {
  margin: 30px;
  cursor: pointer;
  opacity: 0.4;
}
.bottom-box .icon .goback {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
  -webkit-animation: updown 3s infinite;
          animation: updown 3s infinite;
}
@-webkit-keyframes updown {
  0% {
    bottom: 2%;
  }
  50% {
    bottom: 5%;
  }
  100% {
    bottom: 2%;
  }
}
@keyframes updown {
  0% {
    bottom: 2%;
  }
  50% {
    bottom: 5%;
  }
  100% {
    bottom: 2%;
  }
}
.bottom-box .icon .goback .backBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bottom-box .icon .goback .tword {
  font-size: 18px;
  padding-right: 5px;
  font-weight: 700;
}
.bottom-box .icon .goback .tbgc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
}
.bottom-box .end {
  margin: 100px 0 0 10px;
  opacity: 0.5;
}